#DATABASE
DATABASE_URL=sqlite:///./jobscrapper.db

#LLM
LLM_PROVIDER=gemini     # gemini | ollama
GEMINI_API_KEY=""
OLLAMA_API_URL=http://localhost:11434
OLLAMA_MODEL=llama3


#APIFY
APIFY_API_TOKEN=""
APIFY_RESULT_LIMIT = 25

# scoring / scheduling
MIN_SCORE=70
SCRAPE_CRON_DEFAULT="0 2 * * *"


#API
UVICORN_PORT=8888

#Loggings
LOG_DIR="" 